{% extends "blog/base.html" %} {% block content %} {% load static %}
<h1 id="Main1">About Teodorico Sidonio Mazivila!</h1>
<h3>Here is a Preview on what I do:</h3>
<h2 style="color: #17a2b8;">Software Development</h2>
<h4 style="color: #7bbde9;">Technologies: Python, C#, Swift & PHP</h4>
<p>
  * I analyze users’ needs, then design, test, and develop software to meet
  those needs <br />* Recommend software upgrades for customers’ existing
  programs and systems <br />* Design each piece of the application or system
  and plan how the pieces will work together <br />* Create a variety of models
  and diagrams (such as flowcharts) that instruct programmers how to write the
  software code <br />* Ensure that the software continues to function normally
  through software maintenance and testing <br />* Document every aspect of the
  application or system as a reference for future maintenance and upgrades
  <br />* Collaborate with other computer specialists to create optimum software
</p>
<div>
  <a
    class="btn btn-primary btn-sm mt-1 mb-1"
    href="https://teomazivila.github.io/Teodorico_Portfolio/index.html"
    >Visite Portfolio</a
  >
  <a
    class="btn btn-success btn-sm mt-1 mb-1"
    href="https://teomazivila.github.io/Teodorico_Portfolio/contact.html"
    >Contact Me</a
  >
</div>

<h2 style="color: #17a2b8;">Sadmin/System Administrator</h2>
<h4 style="color: #7bbde9;">
  Technologies: Windows Server - All, Linux & MacOS
</h4>
<p>
  * Install and configure software and hardware Manage network servers and
  technology tools <br />* Set up accounts and workstations Monitor performance
  and maintain systems according to requirements <br />* Troubleshoot issues and
  outages<br />* Ensure security through access controls, backups and firewalls
  <br />* Upgrade systems with new releases and models <br />* Develop expertise
  to train staff on new technologies <br />* Build an internal wiki with
  technical documentation, manuals and IT policies
</p>
<div>
  <a
    class="btn btn-primary btn-sm mt-1 mb-1"
    href="https://teomazivila.github.io/Teodorico_Portfolio/index.html"
    >Visite Portfolio</a
  >
  <a
    class="btn btn-success btn-sm mt-1 mb-1"
    href="https://teomazivila.github.io/Teodorico_Portfolio/contact.html"
    >Contact Me</a
  >
</div>
<h2 style="color: #17a2b8;">Sadmin/System Administrator</h2>
<h4 style="color: #7bbde9;">Technologies: Python, C# & PHP</h4>
<p>
  * Write & design, testable, efficient with software development practices such
  as Python, JavaScript & PHP. <br />
  * Create website layout/user interface by with standard HTML/CSS <br />*
  Integrate data from various back-end services and databases <br />* Gather and
  refine specifications and requirements based on technical needs <br />* Create
  and maintain software documentation. * Maintain, Expand, and scale
  <br />*Cooperate with web designers to match visual design intent
</p>
<div>
  <a
    class="btn btn-primary btn-sm mt-1 mb-1"
    href="https://teomazivila.github.io/Teodorico_Portfolio/index.html"
    >Visite Portfolio</a
  >
  <a
    class="btn btn-success btn-sm mt-1 mb-1"
    href="https://teomazivila.github.io/Teodorico_Portfolio/contact.html"
    >Contact Me</a
  >
</div>
{% endblock content %}
